{name, "triq"}.
{description, "Trifork QuickCheck"}.
{homepage, "http://krestenkrab.github.com/triq/"}.
{url, {git, "https://github.com/krestenkrab/triq.git", {branch, "master"}}}.
{authors, ["Kresten Krab Thorup <krab@trifork.com>"]}.
{license, "Apache License 2.0", "COPYING"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
